/* debug */
div{
    border: 1px solid black;
    
}
a{
    border: 1px solid blue;
}
span{
    border: 1px solid red;
}
li{
    border: 1px solid green;
    list-style: none;
}
table{
    border: 1px solid yellow;
}
input{
    border: 1px solid violet;
}
p{
 border: 1px solid orange;
}
h1, h2, h3, h4, h5{
    border: 1px solid lightcoral;
}
button{
    border: 1px solid aquamarine;
}
/* reset general */
img{
    display: block;
    width: 100%;
}
/* header */

#box-logo-small > img{
    width: 30px;
}
.row-header{
   height: 65px;
}
/* main */

/* left */
.aside,
.right-section{
    height: calc(100vh - 65px);
}
.aside{
    width: 10%;
}
.aside div div {
    margin-top: 20px;
}
.aside div div span,
.aside-bottom div span {
    padding-left: 10px;
}
.aside-bottom div{
    margin-bottom: 30px;
}
/* right */
.bg-blue{
    background-color: #1B72E8;
    color: white;
}
.text-bg{
    background-color: #165BBA;
    color: white;
}
#offcanvasRight{
    width: 60vw;
}