
/* reset general */
img{
    display: block;
    width: 100%;
}
li{
    list-style: none;
}
/* header */
#box-logo-small > img{
    width: 30px;
}
.row-header{
   height: 65px;
}
/* main */
/* left */
.aside,
.right-section{
    height: calc(100vh - 65px);
}
/* aside */

.aside div div {
    margin-top: 20px;
}
.aside div div span,
.aside-bottom div span {
    padding-left: 10px;
}
.aside-bottom div{
    margin-bottom: 30px;
}
/* right */
.bg-blue{
    background-color: #1B72E8;
    color: white;
}
.text-bg{
    background-color: #165BBA;
    color: white;
}
#offcanvasRight{
    width: 60%;
}
@media screen and (max-width : 768px) {
    #offcanvasRight{
        width: 100%;
    }    
}

.bg-img{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}
.bg-nav{
    background-color: #E5E5E5;
}
.tb-item{
    height: 20px;
    width: 20px;
    border: 1px solid #F26551;
    border-radius: 50%;
    background-color: #F26551;
    text-align: center;
    line-height: 20px;
}
.section-right-bottom{
    height: calc(100vh - 65px - 128px);
    background-color: #F8F9FA;
}
.bg-main{
    background-color: #F8F9FA;
}
.border-white:hover{
    background-color: white;
    color: black;
}
.item-aside:hover{
    background-color: antiquewhite;
    color: black;
}